REDIS_AUTH=redisauth
REDIS_DB=1
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_TTL=600
JWT_EXPIRES_IN=604800
JWT_SECRET_KEY=testJwt
LOG_LEVEL=DEBUG
NODE_ENV=development
PAGE_LIMIT=10
PORT=3000
DATABASE_NAME=testdb
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_USERNAME=testuser
DATABASE_PASSWORD=test
DATABASE_PORT=5432
USE_HTTPS=false
SWAGGER_ENABLE=false
